<div class="container-fluid d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center py-3 border-top bg-dark text-white">
  <ul class="nav col-12 col-sm-4 justify-content-center justify-content-sm-end list-unstyled d-flex">
    <li>
      <a href="https://www.linkedin.com/in/andreas-lesovsky-98a464306" target="_blank" rel="noopener noreferrer"
        aria-label="LinkedIn Profil von Andreas" class="nav-link text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-linkedin">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
        <span class="visually-hidden">Linkedin Profil von Andreas Lesovsky</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/AndreasLesovsky" target="_blank" rel="noopener noreferrer"
        aria-label="GitHub Profil von Andreas" class="nav-link text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-github">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
        <span class="visually-hidden">Github Link</span>
      </a>
    </li>
  </ul>
  <p class="mb-0 order-last order-sm-first">
    &copy; {{ currentYear }} <span class="fw-bold me-2">User Management</span>
  </p>
</div>